<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= content_tag :meta, nil, content: mobile_meta_content, name: "viewport" %>
    <%= favicon_link_tag "favicon.png" %>
    <%= render "stylesheets" %>
  </head>

  <%= content_tag :body, class: body_class do %>
    <div class="wrapper">
      <%= render "header" %>

      <div class="content">
        <%= yield %>
      </div>

      <%= render "footer" %>
    </div>
    <%= render "javascripts" %>
  <% end %>
</html>
